json-flows/CoT-Pull-Flow.json
[
    {
        "id": "e5b45699f61efa17",
        "type": "tcp in",
        "z": "6e75303e241dab99",
        "name": "",
        "server": "client",
        "host": "",
        "port": "",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "94bb10a2f97792eb",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "2b7407bb258427b6",
                "9345af60867d8c8d"
            ]
        ]
    },
    {
        "id": "6c09c118442049a1",
        "type": "file",
        "z": "6e75303e241dab99",
        "name": "",
        "filename": "/var/www/html/cot-logged.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 940,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2b7407bb258427b6",
        "type": "debug",
        "z": "6e75303e241dab99",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "a695f521d37fd7ff",
        "type": "debug",
        "z": "6e75303e241dab99",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "9345af60867d8c8d",
        "type": "function",
        "z": "6e75303e241dab99",
        "name": "Exclude Survey123",
        "func": "// Input data\nlet data = msg.payload;\n\n// Split data into individual event messages\nlet messages = data.split('<?xml version=\"1.0\" encoding=\"UTF-8\"?>');\n\n// Function to check if uid starts with \"Survey123_\"\nfunction isSurvey123(message) {\n    let uidMatch = message.match(/uid=\"([^\"]+)\"/);\n    return uidMatch && uidMatch[1].startsWith(\"Survey123_\");\n}\n\n// Filter out messages that meet the criteria\nlet filteredMessages = messages.filter(message => {\n    if (message.trim() === \"\") return false;\n    if (isSurvey123(message)) return false;\n    return true;\n});\n\n// Check if any messages are left after filtering\nif (filteredMessages.length === 0) {\n    // If no valid messages, set payload to null or an empty object\n    msg.payload = \"\"; // or msg.payload = {};\n} else {\n    // Join the filtered messages back into a single string\n    let result = filteredMessages.join('<?xml version=\"1.0\" encoding=\"UTF-8\"?>');\n    msg.payload = result;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            [
                "a695f521d37fd7ff",
                "6c09c118442049a1"
            ]
        ]
    },
    {
        "id": "94bb10a2f97792eb",
        "type": "tls-config",
        "name": "TAK Server",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]
