json-flows/One-Flow.json
[
    {
        "id": "d12312aa1d788d3a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6117f0a53ae971ee",
        "type": "file in",
        "z": "d12312aa1d788d3a",
        "name": "file pull",
        "filename": "/var/www/html/survey-cot.txt",
        "filenameType": "str",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "4f54118b2a556523",
                "ca8678eaa320d675"
            ]
        ]
    },
    {
        "id": "4f54118b2a556523",
        "type": "debug",
        "z": "d12312aa1d788d3a",
        "name": "Survey123 Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "38a404949e308c25",
        "type": "trigger",
        "z": "d12312aa1d788d3a",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "6117f0a53ae971ee"
            ]
        ]
    },
    {
        "id": "08edc538487d315a",
        "type": "inject",
        "z": "d12312aa1d788d3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "38a404949e308c25"
            ]
        ]
    },
    {
        "id": "ca8678eaa320d675",
        "type": "tcp out",
        "z": "d12312aa1d788d3a",
        "name": "",
        "host": "",
        "port": "",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "94bb10a2f97792eb",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "e5b45699f61efa17",
        "type": "tcp in",
        "z": "d12312aa1d788d3a",
        "name": "",
        "server": "client",
        "host": "",
        "port": "",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "94bb10a2f97792eb",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "2b7407bb258427b6",
                "9345af60867d8c8d"
            ]
        ]
    },
    {
        "id": "6c09c118442049a1",
        "type": "file",
        "z": "d12312aa1d788d3a",
        "name": "",
        "filename": "/var/www/html/cot-logged.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 800,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2b7407bb258427b6",
        "type": "debug",
        "z": "d12312aa1d788d3a",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "a695f521d37fd7ff",
        "type": "debug",
        "z": "d12312aa1d788d3a",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "9345af60867d8c8d",
        "type": "function",
        "z": "d12312aa1d788d3a",
        "name": "Exclude Survey123",
        "func": "// Input data\nlet data = msg.payload;\n\n// Split data into individual event messages\nlet messages = data.split('<?xml version=\"1.0\" encoding=\"UTF-8\"?>');\n\n// Function to check if uid starts with \"Survey123_\"\nfunction isSurvey123(message) {\n    let uidMatch = message.match(/uid=\"([^\"]+)\"/);\n    return uidMatch && uidMatch[1].startsWith(\"Survey123_\");\n}\n\n// Filter out messages that meet the criteria\nlet filteredMessages = messages.filter(message => {\n    if (message.trim() === \"\") return false;\n    if (isSurvey123(message)) return false;\n    return true;\n});\n\n// Check if any messages are left after filtering\nif (filteredMessages.length === 0) {\n    // If no valid messages, set payload to null or an empty object\n    msg.payload = \"\"; // or msg.payload = {};\n} else {\n    // Join the filtered messages back into a single string\n    let result = filteredMessages.join('<?xml version=\"1.0\" encoding=\"UTF-8\"?>');\n    msg.payload = result;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 340,
        "wires": [
            [
                "a695f521d37fd7ff",
                "6c09c118442049a1"
            ]
        ]
    },
    {
        "id": "94bb10a2f97792eb",
        "type": "tls-config",
        "name": "TAK Server",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]